/* :root {
  font: 16px / 1 sans-serif;
} */

html {
  height: 100%;
  background-image: linear-gradient(
    160deg,
    red,
    orange,
    yellow,
    green,
    blue,
    navy,
    purple
  );
  display: inline;
  justify-content: center;
  align-content: center;
}

body {
  margin: 0;
  min-height: 100%;
  margin: 2rem;
}

.contents {
  display: flex;
  justify-content: space-between;
  background-color: rgba(204, 204, 204, 0.6);
  color: blue;
  margin: 1rem;
  padding: 1rem;
}

.details {
  display: inline;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  line-height: 1.5rem;
}

.title {
  font-size: 2rem;
  background-color: black;
  color: red;
  line-height: 1.5rem;
  border: 10px yellow dotted;
  /* border: 10px black double; */
  padding: 1rem;
}
